.startseite {
  overflow: auto;
  display: flex;
  margin: 1.5rem;
  flex-direction: column;
  align-items: flex-start; /* Zentriert die Elemente horizontal, optional */
}

.aktiv_lernpfad{
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
 
}

.text {
  font-size: 2em; /* Größer als "large", passt sich der Schriftgröße des Elternelements an */
  font-style: normal;
  font-weight: bold; /* Macht den Text fett */
  color: black; /* Setzt die Textfarbe auf schwarz */
}
.text1 {
  font-size: 4em; /* Größer als "large", passt sich der Schriftgröße des Elternelements an */
  font-style: normal;
  font-weight: bold; /* Macht den Text fett */
  color: black; /* Setzt die Textfarbe auf schwarz */
  margin-left: 5rem;
}

.videos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
  min-width: 300px;
 overflow: auto;
  
}

.img {
   /* Erzeugt einen 1px breiten, soliden, schwarzen Rand */
  height: 200px;
  width: 300px;
  margin-right: 1rem;
}