.such-seite {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: stretch;
    font-family: Inter, Arial;
    font-size: 1.25rem;
    display: flex;
  }
  
  .rectangle-11 {
    color: #fff;
    width: 100%;
    background-color: #3d5a80;
    flex-direction: row;
    flex-basis: 11%;
    justify-content: flex-start;
    align-items: stretch;
    font-weight: 700;
    display: flex;
  }
  
  
  
  .icon-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .startseite-button-instance {
    height: 45%;
    flex-basis: 15%;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 205px;
  }
  
  .profil-button-instance, .einstellung-button-instance, .logout-button-instance {
    height: 45%;
    flex-basis: 15%;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .suchleiste-instance {
    width: 50%;
    flex-basis: 5%;
    margin-bottom: 19px;
    margin-left: 4px;
  }
  
  .gefundene-lernpfade {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 44px;
    text-decoration:none;
  }
  
  .skill-lernpfad {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 44px;
    text-decoration:none;
  }
  
  .rectangle-10 {
    width: 95%;
    height: fit-content;
    background-color: #fff;
    border: 2px solid #5ddae4;
    border-radius: 15px;
    flex-direction: column;
    flex-basis: 22%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-left: 1rem;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    display: flex;
  }
  
  
  .screenshot-2023-01-31-002506-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  
  .ziel-softwareentwicklungsmethode {
    margin-bottom: 2px;
  }
  
  .beruf-lernpfad {
    margin-top: 6px;
    margin-left: 74px;
  }
  
  .rectangle-19 {
    width: 95%;
    background-color: #fff;
    border: 2px solid #5ddae4;
    border-radius: 15px;
    flex-direction: column;
    flex-basis: 22%;
    justify-content: center;
    align-self: center;
    align-items: stretch;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }
  
  .ein-softwareentwickler-englisch {
    align-self: center;
    margin-bottom: 11px;
  }
  

  .button {
    width: 30%;
    background-color: #98c1d980;
    margin-top: 2rem;
    border: 2px solid #5ddae4;
    border-radius: 15px;
    height: 10%;
    align-self:center;
}


.text1{

  font-size: larger;
  font-weight: bold;

  }
  .text2{

    font-size: medium;
    color: grey;
    font-weight:100;
  
    }

    .badge{
      
      flex-direction: row;
      font-size: medium;
      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      margin-bottom: 1rem;
      overflow-y:auto;
      overflow-x: auto;
      white-space:initial;
      justify-content:center;
      
    }